.hero img {
  width: 100%;
}

.bucket svg {
  width: 2000px;
}
.add-to-cart {
  color: white;
  font-size: 17px;
  background-color: rgb(206, 147, 134);
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}

.first-header {
  display: flex;
  background-color: rgb(206, 147, 134);
  color: white;
  justify-content: center;
  height: 4vh;
  align-items: center;
}
.second-header {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
.icons {
  display: flex;
}
.logo {
  display: flex;
}
.menu {
  display: flex;
  gap: 17px;
}
.logo img {
  width: 150px;
}
.product-header {
  padding-bottom: 10vh;
  padding-top: 10vh;
  text-align: center;
  height: 3vw;
  font-size: 40px;
  font-weight: 800;
}

.product-card img {
  width: 100%;
}
.product-card {
  text-align: center;
}

.column-content {
  font-size: 17px;
  color: rgb(182, 179, 181);
}

.info-section {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 17%);
  background-color: black;
  color: white;
}

.column-header {
  font-size: 25px;
}

.column {
  text-align: center;
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.products-section {
  display: grid;
  gap: auto;
  padding-left: 6vw;
  padding-right: 6vw;
  grid-template-columns: repeat(4, 20%);

  justify-content: space-between;
}

.rating-score img {
  width: 50%;
  background-color: white;
}

.rating-score {
  display: inline;
}
.rating-review {
  display: inline;
}
.header-product {
  padding-top: 10px;
  font-size: 19px;
  font-weight: 800;
}

.add-to-cart img {
  filter: invert();
  margin-left: 30px;
}

.add-to-cart .content {
  padding-right: 10px;
}
.add-to-cart .content:hover {
  padding-right: 2px;
}
.price {
  font-size: 20px;
  color: rgb(206, 147, 134);
  font-weight: 800;
}
.hero-product {
  width: 100%;
}
div.hero-product img {
  margin-top: 15vh;
  width: 100%;
}

.hero-product-description {
  display: flex;
}

.header-hero-product {
  text-align: center;
  margin-top: 13%;
  margin-bottom: 3%;
  font-weight: 800;
  color: rgb(206, 147, 134);
  font-size: 50px;
}
.hero-product-content {
  color: rgb(182, 179, 181);
  font-size: 20px;
  text-align: center;
}
.hero-container {
  background-color: black;
  padding: 30px;
}

.image-hero-product-2 img {
  width: 100%;
}
.logo-footer {
  display: flex;
  justify-content: center;
  background-color: white;
  filter: invert();
  padding: 40px;
}

.logo-footer img {
  width: 12%;
}
.contact-us {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-header {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 60px;
  font-weight: 800;
}
.input-txt {
  width: 100%;
}
.contact-info {
  font-size: 20px;
}

.input-txt {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: block;
}
.submit {
  width: 45%;
  float: right;
  margin-bottom: 1vh;
  color: white;
  background-color: black;
  padding: 10px;
  display: block;
}

.submit:hover {
  filter: invert();
}
.disclaimer-content {
  width: 30%;
  margin-bottom: 6vh;
}

.disclaimer {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(182, 179, 181);
  direction: rtl;
}
.rooo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
